@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto-condensed, sans-serif;
    font-weight: 300;
    color: #fef0de;
}

/* Headings and logo */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #140302;
}

h3 {
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #fef0de;
    font-size: 125%;
}

header {
    background-color: #F17D3A;
}

.logo-right {
    text-align: right;
}

#logo {
    font-size: 200%;
    margin: 0 25px;
}

#menu {
    font-size: 115%;
    letter-spacing: 3px;
    margin: 0 25px;
}

#menu li {
    margin: 5px 5px;
    display: inline;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #140302;
}

#menu, #logo {
    line-height: 50px;
}

.pizza-perfect a:hover {
    color: #140302;
    border-bottom: 1px solid #140302;
}

/* Main Image */

#pizza-main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 750px;
}

#pizza-oven {
    background: #F17D3A url(../images/3_pizzas_1920x1080.jpeg);
    width: 100%;
    height: 100%;
    margin: auto;
    position: inherit;
    background-size: cover;
}

#header-text {
    font-size: 115%;
    font-family: Roboto, sans-serif;
    letter-spacing: 3px;
    width: 250px;
    height: 250px;
    padding: 10px 10px;
    background-color: #883d0d;
    top: 50px;
    left: 50px;
    position: absolute;
}

#header-text h2 {
    color: #F4F5F0;
}

/* Naples or Rome section */

#about-head {
    text-align: center;
}

#about-pizza p {
    padding: 15px;
    text-align: justify;
    margin: 0 auto;
    width: 75%;
}

#naples-rome {
    float: left;
    text-align: justify;
    background: #883d0d;
    padding: 30px;
    width: 70%;
    height: 300px;
}

#rome-naples {
    float: left;
    background: #fef0de url(../images/naples_or_rome.jpeg);
    width: 30%;
    height: 300px;
    background-size: cover;
}

/* History page */

#naples-pizza {
    float: right;
    text-align: justify;
    background: #008C45;
    padding: 60px;
    width: 70%;
    height: 400px;
    color: #F4F5F0;
}

#naples-pizza h3 {
    text-align: center;
    color: #F4F5F0;
}

#naples-pizza p {
    padding: 15px;
    text-align: justify;
    margin: 0 auto;
    width: 75%;
    color: #F4F5F0;
}

#neapolitan {
    float: left;
    background: #fef0de url(../images/pizza_on_board.jpg);
    width: 30%;
    height: 400px;
    background-size: cover;
}

#rome-pizza p {
    padding: 15px;
    text-align: justify;
    margin: 0 auto;
    width: 75%;
    color: #F4F5F0;
}

#rome-pizza {
    float: left;
    text-align: justify;
    background: #CD212A;
    padding: 60px;
    width: 70%;
    height: 400px;
    color: #F4F5F0;
}

#rome-pizza h3 {
    text-align: center;
    color: #F4F5F0;
}

#romana {
    float: right;
    background: #fef0de url(../images/roman_pizza.jpeg);
    width: 30%;
    height: 400px;
    background-size: cover;
}

/* Form */

.pizza_form {
    background: #883d0d url(../images/feed_pizza.jpeg);
    height: 900px;
    background-size: cover;
}

.form_style {
    color: #fef0de;
    background-color: rgba(136, 61, 13, 0.8);
    max-width: 60%;
    left: 10%;
    padding: 50px;
}

.form_style h2 {
    margin-bottom: 25px;
}

.input {
    background: transparent;
    color: #fef0de;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #140302;
    border-radius: 2px;
}

.form_button {
    width: 25%;
    border: none;
    color: #140302;
    background-color: #F17D3A;
    padding: 16px 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.form_button:hover {
    background-color: #140302;
    color: #fef0de;
}

/* Gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* footer */

footer {
    height: 80px;
    background-color: #140302;
    clear: both;
}

.pizza-social {
    text-align: center;
    height: 80px;
    }

.pizza-social > li{
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
}

.pizza-social i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #F17D3A;
}

/* Media below 880px */

@media screen and (max-width: 880px)  {

    #about-pizza p {
        padding: 5px;
        margin: 0 auto;
        width: 75%;
    }

    #pizza-main {
        height: 550px;
    }

    #naples-rome {
        text-align: center;
        padding: 30px;
        width: 70%;
        height: 400px;
        overflow: scroll;
    }

    #rome-pizza, #naples-pizza {
        text-align: center;
        padding: 30px;
        width: 70%;
        height: 400px;
        overflow: scroll;
    }
    
    #rome-naples, #romana {
        float: right;
        width: 30%;
        height: 400px;
    }

    #header-text {
        font-size: 90%;
        font-family: Roboto, sans-serif;
        letter-spacing: 3px;
        width: 200px;
        height: 175px;
        background-color: #883d0d;
        top: 0px;
        left: 0px;
        position: absolute;
    }

    .pizza_form {
        height: 600px;
    }

    .form_style {
        color: #fef0de;
        background-color: rgba(136, 61, 13, 0.8);
        max-width: 90%;
        left: 10%;
        padding: 50px;
    }

    .form_button {
        width: auto;
    }

    #photos {
        column-count: 3;
    }
}

/* Media below 480px */

@media screen and (max-width: 480px)  {

    #logo {
        font-size: 110%;
        margin: 0 5px;
    }
    
    #naples-rome  {
        text-align: center;
        background: #883d0d;
        padding: 5px;
        width: 100%;
        height: auto;
    }

    #naples-pizza, #rome-pizza {
        text-align: center;
        padding: 5px;
        width: 100%;
        height: auto;
    }
    
    #rome-naples {
        background: #fef0de url(../images/naples_or_rome.jpeg);
        width: 100%;
        height: 300px;
        background-size: cover;
    }

    #neapolitan {
        background: #fef0de url(../images/pizza_on_board.jpg);
        width: 100%;
        height: 300px;
        background-size: cover;
    }

    #romana {
        background: #fef0de url(../images/roman_pizza.jpeg);
        width: 100%;
        height: 300px;
        background-size: cover;
    }

    #menu {
        font-size: 80%;
        letter-spacing: 1px;
        margin: 0 5px;
    }

    #menu, #logo {
        line-height: 25px;
    }
    
    #menu li {
        margin: 5px 5px;
        display: inline;
        list-style-type: none;
    }

    #photos {
        column-count: 2;
    }
}



