@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto-condensed, sans-serif;
    font-weight: 300;
    color: #fef0de;
}

/* Headings and logo */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #140302;
}

h3 {
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #fef0de;
    font-size: 125%;
}

header {
    background-color: #F17D3A;
}

.logo-right {
    text-align: right;
}

#logo {
    font-size: 200%;
    margin: 0 25px;
}

#menu {
    font-size: 115%;
    letter-spacing: 3px;
    margin: 0 25px;
}

#menu li {
    margin: 5px 5px;
    display: inline;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #140302;
}

#menu, #logo {
    line-height: 50px;
}

.pizza-perfect a:hover {
    color: #140302;
    border-bottom: 1px solid #140302;
}

/* Main Image */

#pizza-main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
}

#pizza-oven {
    background: #F17D3A url(../images/3_pizzas_1920x1080.jpeg) center / 100% 100% no-repeat;
    width: 100%;
    height: 100%;
    margin: auto;
    position: inherit;
}

#header-text {
    font-size: 115%;
    font-family: Roboto, sans-serif;
    letter-spacing: 3px;
    width: 250px;
    height: 250px;
    padding: 10px 10px;
    background-color: #883d0d;
    top: 50px;
    left: 50px;
    position: absolute;
}

/* Naples or Rome section */

#about-pizza {
    text-align: center;
    background: #883d0d;
    padding: 30px;
}

#about-pizza p {
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    width: 75%;
}

/* footer */

footer {
    height: 80px;
    background-color: #140302;
}

.pizza-social {
    text-align: center;
    height: 80px;
    }

.pizza-social > li{
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
}

.pizza-social i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #F17D3A;
}

/* Media below 480px */

@media screen and (max-width: 480px)  {

    #logo {
        font-size: 110%;
        margin: 0 5px;
    }

    #about-pizza {
        text-align: center;
        background: #883d0d;
        padding: 10px;
    }
    
    #about-pizza p {
        padding: 10px;
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    #menu {
        font-size: 80%;
        letter-spacing: 1px;
        margin: 0 5px;
    }
    
    #menu li {
        margin: 5px 5px;
        display: inline;
        list-style-type: none;
    }

    #header-text {
        font-size: 90%;
        font-family: Roboto, sans-serif;
        letter-spacing: 3px;
        width: 200px;
        height: 175px;
        background-color: #883d0d;
        top: 0px;
        left: 0px;
        position: absolute;
    }
}